@import url("../Roboto/Roboto-Regular.ttf");
@import url("../Roboto/Roboto-Bold.ttf");
@import url("../Roboto/Roboto-Light.ttf");
.main{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.title-head h1{
    font-size: 3rem;
    font-weight:bolder ;
}
.title-head p{
    margin-top: 1rem;
    opacity: 0.7;
}
.title-main-right p{
    text-align: left;
    line-height: 2rem;
}
.title-main-left{
    width: 20%;
}
.title-main-left img{
    width: 100%;
    border-radius: 48%;
}
.title-main-left p{
    font-size: 0.8rem;
}
.title-main-right img{
    margin-top: 1rem;
    width: 60%;  
    aspect-ratio: 16/9;
    object-fit: cover;
    font-size: 2rem;
    
}
.sidebarRelated{
    text-align: left;
}
.sidebarRelated ol li::marker{
    color: blue;
    font-size: 4rem;
}
.sidebarRelated li{
    text-align: left;
    line-height: 1.5rem;
}